doctype html
html
    head
        link(rel="stylesheet", href="https://highlightjs.org/static/demo/styles/default.css")
        link(rel="stylesheet", href="https://highlightjs.org/static/demo/styles/atom-one-dark.css")
    body
        a(href='/message/' + chat + '/' + previous) #{previous}
        span < >
        a(href='/message/' + chat + '/' + next) #{next}
        pre
            code(class="javascript hljs") #{data}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/javascript.min.js")
    script(src="/script.js")
    script hljs.initHighlightingOnLoad()
